

        <div class="">

            <div style="float:left">
                <ul>
                    <li ng-repeat="repo in vm.repos" class="repo-tab" id={{repo}}name="button"> {{repo}}</li>
                </ul>
            </div>
            <div style="float:left">
                <ul>
                    <li ng-repeat="lang in vm.languages" id={{lang}} ng-click="vm.setLang(lang)"> {{lang|uppercase}}</li>
                </ul>
            </div>
        </div>

        <div class="" style="width: 200px; height: 100%; float: left">

            <header style="height:56px; width: 702px">
                <input type="text" ng-model = "search" name="" placeholder="Enter user name here" >
                <a ng-href="#/users/{{search}}/repos"> Click Me</a>
            </header>

            <div class="chart">
                <div class="" style="border: 1px solid blue; width: 700px; height: 500px; float:left">
                    <code class="language-javascript">{{vm.chartContent}}</code>
                </div>
            </div>
        </div>
